<h2>Structural Example</h2>

<h4>*ngIf</h4>

<button (click)="toogleInfo()" class="btn btn-primary">Info</button> {{isInfo}}
<button (click)="toogleWarning()" class="btn btn-secondary">Warning</button> {{isWarning}}
<button (click)="toogleDanger()" class="btn btn-danger">Danger</button> {{isDanger}}
<p *ngIf="isInfo" class="alert alert-info">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minus esse exercitationem tempore? Sapiente iure voluptatibus velit doloribus ratione numquam quaerat expedita ut dicta minus. Accusamus quasi non modi commodi dolorum?</p>
<p *ngIf="isWarning" class="alert alert-warning">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minus esse exercitationem tempore? Sapiente iure voluptatibus velit doloribus ratione numquam quaerat expedita ut dicta minus. Accusamus quasi non modi commodi dolorum?</p>
<p *ngIf="isDanger" class="alert alert-danger">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minus esse exercitationem tempore? Sapiente iure voluptatibus velit doloribus ratione numquam quaerat expedita ut dicta minus. Accusamus quasi non modi commodi dolorum?</p>

<button (click)="clear()">Clear Message</button>
<button (click)="addMessage()">Add Message</button>
<button (click)="toogleError(1)">Toggle Required</button>
<button (click)="toogleError(2)">Toggle Minlength</button>


<div *ngIf="message !== null" class="alert alert-danger"> {{ message }}</div>
<div *ngIf="message === null" class="alert alert-info"> All are Ok :)</div>

<div *ngIf="errors" class="alert alert-danger">
    <div *ngIf="errors.required">Field required</div>
    <div *ngIf="errors.minlength">Minimum length is 10</div>
</div>

{{ errors | json }}


<h4>*ngFor</h4>

<b>Available Colors</b>
<ul>
    <li *ngFor="let color of colors"> {{ color }} </li>
</ul>

<div *ngFor="let c of colors"> {{ c }} </div>

<button (click)="addRow()">Add New Row</button>

Total Records {{yourarray.length}}
<table>
    <tbody>
        <!-- ngFor has special properties
        index : number,
        first: boolean 
        last: boolean
        odd: boolean
        even: boolean 
    even and odd works on index
    -->
        <tr *ngFor="let c of yourarray;let idx=index;let frst = first;let last = last;let even = even;let odd = odd;" [class.first-row]="frst" [class.last-row]="last" [class.even-row]="even" [class.odd-row]="odd">
            <td>{{idx+1}} </td>
            <td> {{ c.name }}</td>
            <td>{{ c.address }}</td>
            <td>{{ c.mobile }}</td>
            <td>
                Index:{{idx}} First: {{frst}} Last: {{last}} Even: {{even}} Odd: {{odd}}
            </td>
            <td>
                <button (click)="removeRow(idx)">X</button>
            </td>
        </tr>
    </tbody>
</table>

<h4>*ngSwitchCase</h4>
<button (click)="changeType(1)">First</button>
<button (click)="changeType(2)">Second</button>
<button (click)="changeType(0)">Clear</button>
<div [ngSwitch]="type">
    <div *ngSwitchCase="1">This is first type
        <ul>
            <li *ngFor="let color of colors"> {{ color }} </li>
        </ul>
    </div>
    <div *ngSwitchCase="2">This is Second type</div>
    <div *ngSwitchDefault>No type selected</div>
</div>

<br>
<br>
<br>
<br>
<br>