<!-- <app-bindings></app-bindings> -->
<!-- <app-structural></app-structural> -->
<!-- <app-classstyle></app-classstyle> -->

<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 col-sm-12">
            <div class="card">
                <div class="card-body">
                    <b>Student</b>
                    <ul>
                        <li><a routerLink="/home/student/registration"> Registration</a></li>
                        <li><a routerLink="/home/student/list"> Listing</a></li>
                    </ul>
                    <b>Settings</b>
                    <ul>
                        <li><a routerLink="/home/settings">Dashboard</a></li>
                        <li><a routerLink="/home/settings/session"> Session</a></li>
                        <li><a routerLink="/home/settings/classes"> Classes</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-10 col-sm-12">
            <div class="card">
                <div class="card-body">
                    <router-outlet></router-outlet>

                </div>
            </div>
        </div>
    </div>
</div>


<!-- <app-pipe-example></app-pipe-example> -->
<!-- <app-template-var></app-template-var> -->