<!-- Propperty binding: [] -->

<h3>Property Binding</h3>
<div class="container" id="xyz">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa commodi recusandae tempora aspernatur delectus quia quisquam aliquam laboriosam veritatis cupiditate, esse officiis optio sint, illum omnis natus nostrum et iure.
</div>



<div [id]="bucketId" (mouseenter)="changeId()">
This is my bucket
</div>

<a [href]="googleLink">{{ linkDesc }}</a>
<img [src]="image">

<!-- Using interpolation -->

<a href="{{ googleLink }}">{{linkDesc}}</a>



<h3>Event Binding</h3>

<button (click)="sayHi()">Say Hi</button>

<button (dblclick)="sayHello($event)" (click)="sayHello($event)">Say Hello</button>

<input type="text" (keydown)="proccessKey($event,'done')">

