<form [formGroup]="regForm">
  <p-tabView>
    <p-tabPanel header="General">
      <stu-reg-general [regForm]="regForm"></stu-reg-general>
    </p-tabPanel>
    <p-tabPanel header="Previous School">
      <stu-reg-prev-school [regForm]="regForm" [previousSchoolArray]="previousSchoolArray"></stu-reg-prev-school>
    </p-tabPanel>
    <p-tabPanel header="Communication">
      <stu-reg-communication [regForm]="regForm"></stu-reg-communication>
    </p-tabPanel>
</p-tabView>

  <button type="submit" class="btn btn-primary" [disabled]="regForm.invalid" (click)="save()">Save</button>
<button class="btn btn-sm" (click)="addBloodGroupCtrl()">Add Blood Group</button>
<button class="btn btn-sm" (click)="regForm.disable()">Disable</button>
<button class="btn btn-sm" (click)="regForm.enable()">Enable</button>
<button class="btn btn-sm" (click)="regForm.get('firstname').disable()">Disable Firstname only</button>
<button class="btn btn-sm" (click)="regForm.get('firstname').enable()">Enable Firstname only</button>
<button class="btn btn-sm" (click)="rawData()">Raw Value</button>
<button class="btn btn-sm" (click)="fillTheForm()">Fill The Form</button>
<button class="btn btn-sm" (click)="patchTheForm()">Patch The Form</button>

</form>

<pre>
  {{regForm.value | json}}
</pre>