<form [formGroup]="regForm">

  <table>
    <tbody>
      <tr>
        <td>First Name</td>
        <td>
          <input type="text" formControlName="firstname">
          <div *ngIf="regForm.get('firstname').errors">
           
            <span *ngIf="regForm.get('firstname').errors['required']">
              First Name Required!
            </span>
            <span *ngIf="regForm.get('firstname').errors['maxLength']">
              Max length is {{regForm.get('firstname').errors['maxLength'].requiredLength}}
            </span>
            <span *ngIf="regForm.get('firstname').errors['minlength']">
              Min length is {{regForm.get('firstname').errors['minlength'].requiredLength}}
            </span> 
          </div>
        </td>
        <td>Middle Name</td>
        <td>
          <input type="text" formControlName="middlename">
        </td>
      </tr>
      <tr>
        <td>Last Name</td>
        <td>
          <input type="text" formControlName="lastname">
        </td>
        <td>Gender</td>
        <td>
          <input type="radio" formControlName="gender" value="Boy"> Boy
          <input type="radio" formControlName="gender" value="Girl"> Girl
        </td>
      </tr>
      <tr *ngIf="regForm.get('bloodGroup')">
          <td>Blood Group</td>
          <td>
          <select formControlName="bloodGroup">
            <option [ngValue]="null">Select</option>
            <option *ngFor="let bg of bloodGroupOpts" [ngValue]="bg">{{bg.label}}</option>
          </select>
          </td>
          </tr>
    </tbody>
  </table>

  <button type="submit" class="btn btn-primary" [disabled]="regForm.invalid" (click)="save()">Save</button>
<button class="btn btn-sm" (click)="addBloodGroupCtrl()">Add Blood Group</button>
<button class="btn btn-sm" (click)="regForm.disable()">Disable</button>
<button class="btn btn-sm" (click)="regForm.enable()">Enable</button>
<button class="btn btn-sm" (click)="regForm.get('firstname').disable()">Disable Firstname only</button>
<button class="btn btn-sm" (click)="regForm.get('firstname').enable()">Enable Firstname only</button>
<button class="btn btn-sm" (click)="rawData()">Raw Value</button>
<button class="btn btn-sm" (click)="fillTheForm()">Fill The Form</button>
<button class="btn btn-sm" (click)="patchTheForm()">Patch The Form</button>

</form>