<app-header></app-header>
<div>
 <!-- <h2> {{ title }} </h2> -->
</div>

<hr>

<!-- <app-bindings></app-bindings> -->
<!-- <app-structural></app-structural> -->
<!-- <app-classstyle></app-classstyle> -->

<div class="row">
    <div class="col-6">
        <app-flight-listing></app-flight-listing>

    </div>
    <div class="col-6">
            <app-special-offer-listing></app-special-offer-listing>
    </div>
</div>
<!-- <app-pipe-example></app-pipe-example> -->
<!-- <app-template-var></app-template-var> -->
